<a href="https://colab.research.google.com/github/Bhaskarroy123/Movie-Recommendation-System/blob/main/Mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import os
os.getcwd()

'/content'

In [24]:
from google.colab import files
uploaded = files.upload()

Saving archive (2).zip to archive (2) (1).zip

In [25]:
import os
os.listdir("/content")

['.config',
 'TMBD Movie Dataset.csv',
 'archive (2) (1).zip',
 'archive (2).zip',
 'sample_data']

In [26]:
import zipfile

with zipfile.ZipFile("archive (2).zip", 'r') as zip_ref:
    zip_ref.extractall()

print("Extracted Successfully!")

Extracted Successfully!

In [27]:
import os
os.listdir()

['.config',
 'TMBD Movie Dataset.csv',
 'archive (2) (1).zip',
 'archive (2).zip',
 'sample_data']

In [28]:
import pandas as pd

movies = pd.read_csv("TMBD Movie Dataset.csv")
credits = pd.read_csv("TMBD Movie Dataset.csv")

movies.head()

,Unnamed: 0,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,...,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,...,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,...,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,...,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,...,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

In [29]:
import pandas as pd

movies = pd.read_csv("TMBD Movie Dataset.csv")

movies.head()

,Unnamed: 0,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,...,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,...,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,...,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,...,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,...,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

In [30]:
movies.columns

Index(['Unnamed: 0', 'id', 'imdb_id', 'popularity', 'budget', 'revenue',
       'original_title', 'cast', 'homepage', 'director', 'tagline', 'keywords',
       'overview', 'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit', 'popularity_level'],
      dtype='object')

In [31]:
movies = movies[['id',
                 'original_title',
                 'genres',
                 'overview',
                 'cast',
                 'director',
                 'keywords']]

movies.dropna(inplace=True)
movies.reset_index(drop=True, inplace=True)

movies.shape

(1287, 7)

In [32]:
movies.head()

,id,original_title,genres,overview,cast,director,keywords
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,future|chase|post-apocalyptic|dystopia|australia
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,based on novel|revolution|dystopia|sequel|dyst...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,android|spaceship|jedi|space opera|3d
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,car race|speed|revenge|suspense|car

In [33]:
movies.isnull().sum()

id                0
original_title    0
genres            0
overview          0
cast              0
director          0
keywords          0
dtype: int64

In [34]:
movies.dropna(inplace=True)

In [35]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [44]:
# Create new_df and 'tags' column from the 'movies' DataFrame
new_df = movies[['id', 'original_title', 'genres', 'overview', 'cast', 'director', 'keywords']].copy()

# Process string columns for tag creation
new_df['genres'] = new_df['genres'].str.replace('|', ' ')
new_df['keywords'] = new_df['keywords'].str.replace('|', ' ')
new_df['cast'] = new_df['cast'].str.replace('|', ' ')
new_df['director'] = new_df['director'].str.replace('|', ' ')# Director is a single name, just lowercase
new_df['overview'] = new_df['overview'].str.replace('|', ' ')

# Combine relevant columns into a single 'tags' column
new_df['tags'] = new_df['overview'] + " " + new_df['genres'] + " " + new_df['keywords'] + " " + new_df['cast'] + " " + new_df['director']

# Original line that caused the error, now new_df and 'tags' are defined
vectors = cv.fit_transform(new_df['tags']).toarray()

In [45]:
vectors.shape

(1287, 5000)